body {
    background-color:aliceblue;
}
h1 {
    color:chocolate;

}

button {
    padding: 3px;
    background-color: aqua;
}
p {

    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:chocolate;
    font-size: large;
    padding: 15px;

}